
@model List<InventoryManager.Models.GarmentsFullModel>

@{
    ViewBag.Title = "Gaments View";
    Layout = "../Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
    <head>
        <h2>@ViewBag.Title</h2>
    </head>
    <body>
        <div>
             @foreach (var viewModel in Model)
            {
                <table>
               
                    <tr>
                        <td>Name</td>
                        <td class="firstname">@viewModel.GarmentNameID</td>
                    </tr>
                    <tr>
                    </tr>
                    <tr>
                        <td>Color</td>
                        @*                        <td class="">@viewModel.GarmentColor</td>*@
                    </tr>
                    <tr>
                        <td>Layer</td>
                        <td class="">@viewModel.GarmentLayerID</td>
                        <td>Location</td>
                        <td class="">@viewModel.GarmentLocationID</td>
                    </tr>
                    @*                    <tr>
                        <td>Address</td>
                        <td class="">@viewModel.BillingAddress</td>
                    </tr>
                     <tr>
                        <td>Address</td>
                         <td class="">@viewModel.City</td>
                         <td>State</td>
                         <td class="">@viewModel.StateOrProvince</td>
                         <td>Country</td>
                         <td class="">@viewModel.CountryRegion</td>
                         <td>Zip</td>
                        <td class="">@viewModel.PostalCode</td>
                    </tr>*@
                   
                </table>
                <div id="GarmentLinks">
                    <ul>
                       @* <li>
                            <a href="@Href("~/edit/garments", viewModel.GarmentId)" @(Model.Count == 1 ? "class=hidden" : "")>Edit Garment</a>
                        </li>*@
                                  <li>
                                <a href="@Href("~/edit/garments", viewModel.GarmentId)">Edit Garment</a>
                            </li>
                            @*<li>
                                <a href="@Href("~/view/garments", viewModel.GarmentId)">View Garments</a>
                            </li>*@
                    </ul>
                </div>
  

            }
            

              
        </div>
    </body>
</html>