@using InventoryManager.DataAccess
@using InventoryManager.Models
@model InventoryManager.Models.NewGarmentModel

@{
    ViewBag.Title = "Gaments Edit";
}
<html>
    <head>
 
        <link href=@Url.Content("~/Content/SharedDescriptorEdit.css") rel="stylesheet" type="text/css" />
        <link href=@Url.Content("~/Content/Site.css") rel="stylesheet" type="text/css" />
        <script src="@Url.Content("~/Scripts/Garments/SharedAttributes.js")" type="text/javascript"></script>
    </head>
    <body>
           
        <div class="Section">
            @Html.Partial("GenderEdit", Model.GarmentInfo)  
            <span class="Subsection">
                @Html.Partial("LayerEdit", Model.GarmentInfo)
                @Html.Partial("LocationEdit", Model.GarmentInfo) 
            </span>
        </div>

        <div class="Section">
            @*                    <label  for="FirstName" class="input-label">First name: </label>
            <input name="FirstName" type="text"  value="@Model.FirstName"/>
            <label  for="LastName" class="input-label">Last name: </label>
            <input name="LastName" type="text"  value="@Model.LastName"/>*@
            <h2>Garment Cut</h2>
            <span class="Subsection">
                <h3>NOTE: ADD PATTERN COMPANY AND NUMBER!!!</h3>
                @Html.Partial("ItemNameEdit", Model.GarmentInfo)
  
                @Html.Partial("CutStyleEdit", Model.GarmentInfo)

            </span>
        </div>
        <div class="Section">
            <h2>Fabrication</h2>
            <div class="SolidLine">
                @Html.Partial("ColorsEdit", Model.GarmentInfo)
            </div>

            <div class="SolidLine">
                @Html.Partial("EmbelishmentEdit", Model.GarmentInfo)
            </div> 

            <div class="SolidLine">
                <h3>NOTE: Add Trim Section</h3> 
                @Html.Partial("SourceEdit", Model.GarmentInfo)
            </div> 

            <h3>NOTE: Add Client list dropdown</h3>
            <div class="SolidLine">                           
                @Html.Partial("RegionEdit", Model.GarmentInfo)
            </div>
            @Html.Partial("EraEdit", Model.GarmentInfo)
            @Html.Partial("UsesEdit", Model.GarmentInfo)
        </div>
    </body>
</html>